@font-face {
  font-family: "iconfont"; /* Project id 4731942 */
  src: url('iconfont.woff2?t=1734328927359') format('woff2'),
       url('iconfont.woff?t=1734328927359') format('woff'),
       url('iconfont.ttf?t=1734328927359') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiangzuojiantou {
  font-size: 0.36rem;
}

.icon-fangdajing {
  font-size: 0.30rem;
}

.icon-xiangzuojiantou:before {
  content: "\e600";
}

.icon-jiantoushang:before {
  content: "\e61a";
}

.icon-jiantouxia:before {
  content: "\e61b";
}

.icon-chahao:before {
  content: "\e619";
}

.icon-huaban3:before {
  content: "\e6e9";
}

.icon-saomiao:before {
  content: "\e8d4";
}

.icon-fangdajing:before {
  content: "\e65f";
}

